.Segment-item-container {
    width: 100%;
    margin-top: 8px;
    display: flex;
}

.Segment-item-image {
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid #fff6dc;
    box-sizing: border-box;
}

.Segment-item-histogram {
    margin-left: 8px;
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image-container {
    margin: 5.08px;
    width: calc(100% - 10.16px);
    height: calc(100% - 10.16px);
    object-fit: contain;
}

/* border-color 作为高亮后的css提示 */
.Segment-item-image:hover {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    border-color: #5a4e3b;
}
