.Segment-item-container {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
}

.Segment-item-image.active {
    border: 3px solid #5a4e3b;
}

.Segment-item-image {
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid #fff6dc;
}

.Segment-item-histogram {
    margin-left: 8px;
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.Segment-item-refs {
    margin-left: 8px;
    height: 100%;
    background: #fff6dc;
    border-radius: 6px;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.Image-container {
    margin: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background: #fff6dc;
    object-fit: contain;
}

.Segment-item-image:hover {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.Segment-title-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #fff6dc;
}

.Segment-list-container {
    margin-top: 8px;
    width: 100%;
    height: calc(100% - 8px - 44px);
    overflow-y: auto;
}

.Segment-tooltip-item {
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 4px;
    padding: 2px;
    border: 3px dashed transparent;
    background: linear-gradient(#fff6dc, #fff6dc) padding-box, repeating-linear-gradient(-45deg, #5a4e3b 0, #5a4e3b 3px, #fff6dc 3px, #fff6dc 6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Histogram-container {
    margin: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    overflow-x: auto;
    overflow-y: hidden;
}