.Segment-item-container {
    width: 100%;
    margin-top: 8px;
    display: flex;
}

.Segment-item-container .active {
    border: 3px dashed #4e4230;
}

.Segment-item-image {
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Segment-item-histogram {
    margin-left: 8px;
    height: 100%;
    border-radius: 6px;
    background: #fff6dc;
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.Image-container {
    margin: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    object-fit: contain;
}

.Segment-item-image:hover {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
