.Reference-view-content {
    margin: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

.Reference-toolbar-container {
    width: 100%;
    height: 36px;
    background: #fff6dc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

.Reference-toolbar-search {
    width: 20%;
    padding: 0px 0px 0.2px 4px;
    margin-left: 4px;
    outline-style: none;
    border: 2px solid #5a4e3b;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #5a4e3b;
    background: #fff6dc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.Search-tooltip {
    width: 20%;
    height: 84px;
    background: #fff6dc;
    position: absolute;
    top: 32px;
    left: 4px;
    z-index: 50;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    cursor: pointer;
}

.Search-item {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
}

/* .Search-item:hover {
    background: #5a4e3b;
} */

.Search-item-text {
    font-weight: 500;
    font-size: 16px;
    color: #5a4e3b;
    margin-left: 4px;
}

/* .Search-item-text:hover {
    color: #fff6dc;
} */

.Reference-search-button {
    margin: 4px 0px;
    width: 28px;
    height: calc(100% - 8px);
    border: 2px solid #5a4e3b;
    border-left: 0px;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-number-switch-left {
    margin: 4px 0px 4px 4px;
    width: 28px;
    height: calc(100% - 8px);
    border: 2px solid #5a4e3b;
    border-right: 0px;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-number-display {
    margin: 4px 0px;
    width: 15%;
    height: calc(100% - 8px);
    border: 2px solid #5a4e3b;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-number-switch-right {
    margin: 4px 0px;
    width: 28px;
    height: calc(100% - 8px);
    border: 2px solid #5a4e3b;
    border-left: 0px;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-image-track {
    margin: 4px 0px 4px 4px;
    width: 28px;
    height: calc(100% - 8px);
    border: 2px solid #5a4e3b;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-image-confirm {
    margin: 4px;
    width: 28px;
    height: calc(100% - 8px);
    border: 2px dashed #5a4e3b;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-image-confirm.active {
    border-style: solid;
}

.Reference-image-list {
    margin-top: 8px;
    width: 100%;
    height: calc(100% - 88px);
}

.Reference-image-firstrow {
    margin-top: 0px;
    width: 100%;
    height: calc(25% - 4.5px);
    display: flex;
}

.Reference-image-appendrow {
    width: 100%;
    height: calc(33.333% - 4px);
    display: flex;
}

.Reference-image-rows {
    height: 100%;
    overflow-y: hidden;
}

.Reference-image-rows-container {
    margin-top: 6px;
    height: calc(75% - 1.5px);
    position: relative;
}

.Reference-projection-container {
    width: calc(25% - 4.5px);
    height: 100%;
    border-radius: 4px;
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reference-image-container {
    width: calc(25% - 4.5px);
    background: #fff6dc;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Reference-projection {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 4px;
    border: 3px dashed transparent;
    background: linear-gradient(#fff6dc, #fff6dc) padding-box, repeating-linear-gradient(-45deg, #5a4e3b 0, #5a4e3b 6px, #fff6dc 6px, #fff6dc 12px);
    border-radius: 4px;
}

.Reference-image {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 4px;
    background: #fff6dc;
    font-size: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.Reference-image:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Reference-image img{
    height: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.Reference-image-container:hover .R-segmentation-mask {
    visibility: visible;
}

/* .marked? */
.Reference-image-container.marked {
    border: 3px dashed #fff6dc;
}

.Reference-image-container.active {
    /* border: 3px solid #594d3a; */
    background: #594d3a;
}

.Reference-image-appendrow.miss {
    display: none;
}

.Reference-segmentation-list {
    margin-left: 6px;
    width: calc(75% - 1.5px);
    height: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
}

.R-segmentation-item {
    flex: 0 0 auto;
    width: calc(33.3333% - 4px);
    height: 100%;
    background: #fff6dc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.R-segmentation-image {
    flex: 0 0 auto;
    width: calc(33.3333% - 4px);
    height: 100%;
    /* padding: 5px; */
    background: #fff6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.R-segmentation-image div {
    width: 100%;
    height: 100%;
    font-size: 0;
    text-align: center;
}
.R-segmentation-image div:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.R-segmentation-image img {
    margin: auto auto;
    width: 60%;
    height: 60%;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.R-segmentation-image:hover .R-segmentation-mask {
    visibility: visible;
}

.R-segmentation-mask {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    background-color: rgba(176, 152, 114, .6);
    z-index: 1;
}

.R-segmentation-mask button {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #fff6dc;
}

.Segmentation-image-container {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin-top: -20px;
}

.Segmentation-color-list {
    width: calc(100% - 12px);
    height: 18px;
    position: absolute;
    z-index: 1;
    bottom: 6px;
    overflow-x: auto;
    overflow-y: hidden;
}

.Segmentation-color-item {
    height: 17.40px;
    width: 17.40px;
    margin-bottom: 0.6px;
    margin-right: 3.0px;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.Detail-view-container {
    width: calc(75% - 1.5px);
    height: 100%;
    top: 0px;
    background: #5a4e3b;
    /* border-radius: 4px; */
    position: absolute;
    z-index: 100;
}

.Annotated-index {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 10;
    background: #fff6dc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
